<%- include('partials/header') %>
<h1 style="float: left;"class="title"> author :<%=name %> </h1>
<form action="/logout" method="get">
    <button style="float: right;" type="submit" class="btn btn-primary">logout</button>
</form>
<form action="/dashboard" method="get">
    <button style="float: right;" type="submit" class="btn btn-primary">Dashboard</button>
</form>
<div class="container">
    <div class="jumbotron centered">
        <form class="" action="/newDiary" method="post">

            <label for="title">Diary Name</label>
            <input type="text" id="title" class="form-control" name="title" value="">
            <label for="Cotent" >Content</label>
            <textarea name="content" id="Content" class="form-control" rows="10" cols="80"><%= content %></textarea>
            <br>
            <button type="submit" class="btn btn-lg btn-success" name="button">Write</button>
        </form>
    </div>
</div>
\
<%- include('partials/footer') %>
